<div class="box">
    <h1>Tasker</h1>
    <br />
     <% if signed_in? %>

     <div class="btn-line">
        <a class="btn" href="/tasks/new">NEW TASK</a>
        <a class="btn" href="/users/edit"<%= current_user.id %>>EDIT USER</a>
        <a class="btn" href="/signout">SIGNOUT</a>
    </div>
    <br /><br /><br />

    <!-- Welcome current user -->
   <h3>Welcome, <%= current_user.name %>!</h3>
    <br /><br />

    <!-- Show current user's tasks -->
    <h3>Your Tasks:</h3>
    <br /><br />

        <!-- Render user's tasks -->
          <% Array(@tasks).each do |task| %>
                  <h3 id="task" href="/tasks/<%= task.id %>">
                    - <%= task.task %></h3> 
                    <div id="btn-right">
                        <a class="btn-task" href="/tasks/<%= task.id %>">EDIT</a>
                        <form action="/tasks/<%= task.id %>/delete" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn-task">DELETE</button>
                        </form>
                    </div>
                    <br /><br />
          <% end %>
          <br />
    <% end %>
</div>